asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
Django==3.0.3
django-cors-headers==3.2.1
idna==2.8
mysqlclient==1.4.6
prettytable==0.7.2
pycryptodome==3.9.7
PyJWT==1.7.1
pytz==2019.3
requests==2.22.0
SmartDjango==3.6.3a0
smartify==0.0.2a5
sqlparse==0.3.0
urllib3==1.25.8
