//* {
//  padding: 0;
//  margin: 0;
//}

.container-box {
  background-color: #f2f6fc;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .el-container {
    //text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    //background-color: #f2f6fc;
    .el-main {
      //height: 90vh;
      .musicboxp {
        position: absolute;
        //height: 50px;
        top: calc(50vh - 70px / 2);
        left: calc(50vw - 600px / 2);
      }

      .musicbox {
        //overflow: hidden;
        width: 50%;
        position: absolute;
        //height: 50px;
        top: calc(50vh - 450px / 2);
        left: calc(50vw - 47% / 2);

        .sizeslide{
          margin-top: 20px;
        }
        .el-dialog__body {
          text-align: center;
          padding: 25px 25px 30px;
        }
        .checkbox{
          .el-checkbox__label{
            font-weight: bold;
          }
          .el-checkbox__inner{
            border-radius: 50px;
          }
          .el-checkbox {
            margin-right: 20px;
          }
        }

        .musicinput {
          //float: left;
          //width: 80%;
          .el-button {
            position: absolute;
            border: none;
            background: #5a24b2;
            //height: 40px;
            border-radius: 100px;
            top: 8px;
            //width:70px;
            font-size: 25px;
            text-align: center;
            left: calc(100% - 95px);
            pading: 0;
            color: #FFFFFF;
            //box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
          }

          .el-button:hover, .el-button:focus {
            color: #f2f6fc;
            border: none;
            //border-color: #b3d9d9;
            background-color: #5a24b2;
            //box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
          }
          .el-input__inner {
            height: 65px;
            left: 5px;
            border-radius: 65px;
            border: none;
            box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
          }

          .el-input__prefix {
            color: #303133;
            left: 4px;
            position: absolute;
          }

          .el-icon-search {
            font-weight: bold;
            position: absolute;
            top: 2px;
          }

        }
        .span{
          .b{
            position: absolute;
            left: 0;
          }
        }

      }
    }

    .footer {
      //font-weight: bold;
      //width: 70%;
      ///* vertical-align: middle; */
      //position: relative;
      //margin-left: 300px;
      //padding: 0;

    }
  }

  .loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #77787a75;
    z-index: 999;
    //filter: alpha(opacity=60);
    //opacity: 0.6 !important;
  }

}

.header-box {
  height: 50px;
  margin: 20px auto;
  width: 95%;
}

.header-title {
  float: left;
}

.header-login {
  float: right;

  .el-button {
    background: #5b24b2;
    color: white;
    border: 0;
    //box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  }

  .el-button:focus {
    color: white;
    background-color: #5b24b2;
    border-color: #5b24b2;
  }

  .el-button:hover {
    color: white;
    background-color: #5b24b2;
    border-color: #5b24b2;
    //box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 4px rgba(90, 36, 178, 0.4);
  }
}

.musiclist {
  //width: 100%;
  position: absolute;
  width: 75%;
  top: calc(50vh - 300px / 2);
  left: calc(50vw - 50% / 2);
  .el-container {
    height: 600px;
    //width: 71%;
    //position: absolute;
    //top: calc(50vh - 300px / 2);
    //left: calc(50vw - 49% / 2);
    .el-main {
      height: 100% ;
      width: 100%;
      padding: 0;
      overflow: hidden;
    }

    .el-scrollbar__wrap {
      overflow-x: hidden;
    }
  }

  //音乐播放器
  .musicPlayer {
    //display: inline-block;
    position: absolute;
    //text-align: center;
    //top: calc(50vh  /2);
    //width: 100%;
    left: 120px;

    .slider {
      display: inline-block;
      width: 100px;
      position: relative;
      top: 14px;
      margin-left: 15px;
    }

    .currentTime {
      position: relative;
      display: inline-block;
      margin-left: 10px;
    }

    .vol-button {
      position: relative;
      display: inline-block;
      top: 8px;
      margin-left: 15px;
    }

    .play-button {
      position: relative;
      display: inline-block;
      top: 8px;
      margin-left: 15px;
    }

    .el-slider__bar {
      background-color: #5924b2c4;
    }

    .el-slider__button {
      border-color: #5924b2c4;
    }

    .download {
      position: relative;
      display: inline-block;
      top: 8px;
      margin-left: 15px;

      .img {
        //top: 25px;
        //margin-left: 15px;
        //margin-top: 10px;
      }
    }

    .dn {
      display: none;
    }
  }

  //音乐播放器
  .musicgrid {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    .el-card {
      //width: 65%;
      width: 70%;
      //height: 50px;
      border-radius: 20px;
      border-color: #f2f6fc;
    }

    .el-card__body {
      padding: 0;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      margin: 20px;
      width: 100%;

      .logo {
        float: left;
        margin-left: -70px;
        display: inline-block;
        vertical-align: middle;

      }

      .songname {
        float: left;
        font-weight: bold;
        text-align: left;
        //width: 120px;
        margin-left: -50px;
        display: inline-block;
        vertical-align: middle;
        color: #606266;
      }

      .singer {
        float: left;
        font-weight: bold;
        text-align: left;
        //width: 120px;
        //margin-left: -50px;
        display: inline-block;
        vertical-align: middle;
        color: #606266;
      }

      .album {
        float: left;
        font-weight: bold;
        text-align: left;
        //width: 150px;
        //display: inline-block;
        //vertical-align: middle;
        //margin-left: -50px;
        color: #606266;
      }

      .ext {
        float: left;
        font-weight: bold;
        text-align: left;
        //width: 70px;
        display: inline-block;
        //margin-left: -50px;
        color: #606266;
      }

      .filesize {
        float: left;
        font-weight: bold;
        text-align: left;
        //width: 50px;
        //display: flex;
        //align-items: center;
        //margin-left: -50px;
        display: inline-block;
        vertical-align: middle;
        //margin-left: -50px;
        color: #606266;
      }

      .tool {

        //float: right;
        //right: 10px;
        .el-button {
          padding: 0;
        }
        //v-show="toolVisible && toolIndex === index"
        .download {
          width: 80px;
          //float: right;
          height: 34px;
          margin-left: -20px;
          //border: 0;
          //vertical-align: middle;
        }

        .play {
          //float: right;
          width: 80px;
          //vertical-align: middle;
          margin-left: -40px;
          height: 34px;
        }
      }
    }

  }
}


.musicappselect {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  .el-checkbox-button__inner:hover {
    color: #feba07;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
    //border-color: #DCDFE6;
    //border: 1px solid #DCDFE6;
  }

  .el-checkbox-button.is-focus .el-checkbox-button__inner {
    //color: #feba07;
    background: #f2f6fc;
  }

  .el-checkbox-button:first-child, .el-checkbox-button:last-child {
    .el-checkbox-button__inner {
      border: 0px solid #f2f6fc;
      border-radius: 50px;
      //box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
    }
  }

  .el-checkbox-button__inner {
    border: 0px solid #f2f6fc;
    border-radius: 50px;
    background: #f2f6fc;
    //color: #feba07;
    font-weight: bold;
    //box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
  }

  .el-checkbox-button {
    margin: 5px;
  }

}


.music-player {
  font-weight: bold;
  width: 70%;
  /* vertical-align: middle; */
  position: relative;
  margin-left: 300px;
  padding: 0;
  //color: #67c23a;
}

.timeLoading {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
  text-align: center;
  .text {
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin-top: 50px;
  }

  @-moz-keyframes timer-loader {
    0% {
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes timer-loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes timer-loader {
    0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* :not(:required) hides this rule from IE9 and below */
  .timer-loader:not(:required) {
    border: 10px solid #ffffff;
    -moz-border-radius: 48px;
    -webkit-border-radius: 48px;
    border-radius: 48px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 96px;
    height: 96px;
  }

  .timer-loader:not(:required)::before {
    -moz-animation: timer-loader 1250ms infinite linear;
    -webkit-animation: timer-loader 1250ms infinite linear;
    animation: timer-loader 1250ms infinite linear;
    -moz-transform-origin: 6px 6px;
    -ms-transform-origin: 6px 6px;
    -webkit-transform-origin: 6px 6px;
    transform-origin: 6px 6px;
    background: #f56c6c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 38.4px;
    left: 35px;
    top: 35px;
  }

  .timer-loader:not(:required)::after {
    -moz-animation: timer-loader 15000ms infinite linear;
    -webkit-animation: timer-loader 15000ms infinite linear;
    animation: timer-loader 15000ms infinite linear;
    -moz-transform-origin: 6px 6px;
    -ms-transform-origin: 6px 6px;
    -webkit-transform-origin: 6px 6px;
    transform-origin: 6px 6px;
    background: #f56c6c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 32px;
    left: 35px;
    top: 35px;
  }

}




